<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<style>
  
</style>

<body>
    <nav>
        <h1><a href="/">Crypto</a></h1>
    </nav>
    <section>
        <div class="box">
            <div class="cont">
                <form action="/registration" method="post">
                    <div class="username">
                        <label for="username">Username</label>
                        <input type="text" class="userName" name="username" id="username" placeholder="Enter your UserName">
                        <div class="div"></div>
                        {{!-- <small>sdfsdf</small> --}}
                    </div>
                    <div class="password">
                        <label for="password">Password</label>
                        <input type="password" class="Password" name="password" id="password" placeholder="Enter your Password">
                        <div class="div"></div>
                    </div>
                    <div class="button">
                        <button type="submit" class="btn submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script>
        const username = document.querySelector('#username');
        const password = document.querySelector('#password');
        
        const btn = document.querySelector(".btn");
        btn.addEventListener('click', async (e)=>{
            e.preventDefault()
            console.log(username.value,password.value)
            if(username.value.trim().length == 0 || password.value.trim().length == 0){
                return 0;
            }

            const requestBody = {
                query: `
                mutation {
                    createUser (userInput:{username:"${username.value}",password:"${password.value}"}){
                        _id,
                        username
                    }
                }
                `
            }

            const res = await fetch('/graphql',{
                method:"POST",
                headers:{
                    "Content-Type":"application/json"
                },
                body: JSON.stringify(requestBody)
            })
            const data = await res.json()
            console.log(data.data.createUser != null)
            if(data.data.createUser != null){
                window.location.href = window.location.origin+"/"
                console.log(window.location.origin)
            }
        })
    </script>
</body>

</html>