<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>CV Upload</title>
</head>

<body>
  <section class="vh-100" style="background-color: #010101;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card" style="width: 28rem;">
          <img src="../public/images/gg.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <form action="/upload" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="formFile" class="form-label"><strong>Upload your CV (only in docx)</strong></label>
                <div class="custom-file">
                  <input name="file" class="form-control" type="file" id="formFile" onchange="this.form.submit()"
                    type='file' />
                </div>
              </div>
              <div class="form-group">
              </div>
            </form>
            <% if (info) { %>
              <div class="text-container">
                <br />
                <h6>Thanks, for applying your CV consist <%= info.words %> words ! you will receive a update soon.</h6>
              </div>
              <% } %>

          </div>
          <% if(locals.err_msg) { %>
            <div class="alert alert-danger d-flex align-items-center" role="alert">
              <%= err_msg %>
            </div>
          <% } %>
        </div>
      </div>
    </div>

  </section>

  <script src=”https://code.jquery.com/jquery-3.2.1.slim.min.js” integrity=”sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN” crossorigin=”anonymous”></script>

<script src=https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js integrity=”sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q” crossorigin=”anonymous”></script>

<script src=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js” integrity=”sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl” crossorigin=”anonymous”></script>
</body>

</html>